@import url('https://fonts.googleapis.com/css?family=Oswald&subset=cyrillic');
@import 'variables';
body{
  height: 100vh;
  font-family: 'Oswald', sans-serif;
}
footer{
  padding-top: initial;
  position: fixed;
  bottom: 0;
  width: inherit;
}

.container{
  padding: initial;
}
.modal_form{
  font-size: 20px;
}
.navbar-inverse{
  background-color: #222;
  color: #999;
}
.navbar-brand{
      font-size: 23px;
}
.navbar-nav{
  font-size: 17px
  :active{
      background-color: #444;
  }
}
main{
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
    max-width: 333px;
    padding: 15px;
    margin: 0 auto;
    .form-signin-heading{
      margin-bottom: 10px;
    }
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-control:focus {
      z-index: 2;
    }
    input[type="email"] {
      margin-bottom: 6px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .btn{
      margin-top: 6px;
    }
}
 .all_emails{
   max-width: 503px;
   padding: 0px;
   @extend .form-signin;
 }




















//модальное окно
#modal_form {
	width: 300px;
	height: 200px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
  font-size: 18px;
  text-align: center;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
  top: -5px;
  right: 25px;
  font-size: 50px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
#results{
  padding-top: 40px;
}
